<h1>Contato</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Adicionar contato</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 50%">Nome</th>
            <th style="width: 50%">Telefone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td><a routerLink="{{contact.id}}">{{contact.name}}</a></td>
            <td>{{contact.phoneNumber}}</td>
        </tr>
        <tr *ngIf="!contacts">
            <td colspan="2" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>